@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

a.active hr {
  display: block;
}

* {
  font-family: 'Outfit';
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 600px) {
  a.active {
    background-color: black;
    color: white;
  }
}

/* --- Animasi Fade In untuk Popup --- */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-out forwards;
}
